<!DOCTYPE html>
<html>
	<head>
		{% load bootstrap3 %}
		{% load static %}   
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/table.css' %}"/>
{#        <link rel="stylesheet" href="{% static 'css/map.css' %}"/>#}

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Capstone project of CpE 2018">
		<meta name="author" content="Hans Zhang">
	
		<title>Dr. Fourier Capstone</title>
	
		<!-- Bootstrap core CSS -->
		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		
		<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
		
	</head>
	
	<body>
    
    <h1 class="title">UVA Rice Hall Seating Area Availabilities</h1>
{#    <div class='pin'></div>#}
{#    <div class='pulse'></div>#}
        <div class="NI-lab" style="background-image: url({% static 'pics/map.png' %});">
            <div class="table" id="t1" style="background-image: url({% static 'pics/table.png' %});">
                <div class="led-green"></div>
            </div>
            
            <div class="table" id="t2" style="background-image: url({% static 'pics/table.png' %});"></div>
            
        </div>
    
		<div class="container">
		  <div class="first-floor floor">
              <h2>First Floor</h2>
			  <div class="led-box">
				<div class="led-green"></div>
				<p>Zone 1</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-yellow"></div>
				<p>Zone 2</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-red"></div>
				<p>Zone 3</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-blue"></div>
				<p>Zone 4</p>
			  </div>
		  </div>
			<hr>
		  <div class="second-floor floor">
              <h2>Second Floor</h2>
              <div class="led-box">
				<div class="led-green"></div>
				<p>Zone 1</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-yellow"></div>
				<p>Zone 2</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-red"></div>
				<p>Zone 3</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-blue"></div>
				<p>Zone 4</p>
			  </div>
		  </div>
			<hr>
		  <div class="third-floor floor">
              <h2>Third Floor</h2>
              <div class="led-box">
				<div class="led-green"></div>
				<p>Zone 1</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-yellow"></div>
				<p>Zone 2</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-red"></div>
				<p>Zone 3</p>
			  </div>
				
			  <div class="led-box">
				<div class="led-blue"></div>
				<p>Zone 4</p>
			  </div>
		  </div> 
			

			
		</div>
	
	</body>
</html>